<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Ploan">
    <classes>
            <class name="test.covid">
            <methods>
            <include name ="d"/>
            
            </methods>
            
            </class>
            
               <class name="test.CLASS1"/>
                <class name="test.Other2"/>
               

    </classes>
     </test>
      <test name="r">
           <classes>
      
           <class name="test.Other">
           <methods>
           <exclude name ="r.*"/>
           </methods>
                       </class> 
           
            </classes>
     
  </test> 
</suite> 
